body {
    font-family: Georgia
}

.intro {
    border: 2px solid black;
    border-collapse: collapse;
    display: block;
    margin: 35px auto 75px auto;
    width: 600px;
    text-align: center;
    padding: 5px;
}

.name {
    text-align: center;
    font-size: 50px;
    margin-bottom: 5px;
}

.link {
    margin-inline: 7px;
    font-size: 12px;
    font-style: italic;
    display: inline-block;
    transition: color .3s ease-in-out
}

.link:link {
    text-decoration: none;
    color: gray;
}

.link:visited {
    color: gray;
}

.link:hover {
    color: black;
}

.link:active {
    text-decoration: none;
}

.smallImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 700px;
    object-fit: cover;
    padding: 5px;
}

footer {
    margin-top: 40px;
    font-size: 11px;
    font-style: italic;
    text-align: center;
}

.socials {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 50%;
}

.columns {
    margin-inline: 10px;
    display: inline-block;
}