.intro {
    border: 2px solid black;
    border-collapse: collapse;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    width: 600px;
    text-align: center;
}

.name {
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.links {
    margin-inline: 15px;
    display: inline-block;
}

.smallImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 700px;
    object-fit: cover;
    padding: 5px;
}

footer {
    margin-top: 40px;
    text-align: center;
}

.socials {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 50%;
}

.columns {
    margin-inline: 15px;
    display: inline-block;
}